<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="280dp"
    android:background="#ffffffff"
    android:orientation="vertical"
    android:weightSum="1">
<!--    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:layout_alignParentBottom="true"
        android:layout_alignParentLeft="true"
        android:layout_alignParentStart="true">-->
    <ImageView
        android:id="@+id/imgProfileFullImage"
        android:src="@drawable/profile_pic"
        android:layout_width="match_parent"
        android:layout_height="200dp"
        android:layout_marginTop="10dp"
        android:layout_gravity="bottom"
        android:layout_centerHorizontal="true" />
    <TextView
        android:id="@+id/lblUserName"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginLeft="18dp"
        android:textColor="#000000"
        android:text="POC Demo"
        android:textSize="16dp"
        android:textStyle="bold"
        android:layout_below="@+id/imgProfileFullImage" />
    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:textColor="#000000"
        android:layout_marginLeft="16dp"
        android:layout_marginTop="5dp"
        android:text="John henry"
        android:textSize="14dp"
        android:textStyle="normal"
        android:layout_below="@+id/lblUserName" />
<!--	  </LinearLayout>-->
</RelativeLayout>